extends layout

block content

 div.container
        div.row
            div.col-md-8
                div.panel.panel-default 
                    div.panel-body #{role}
            div.col-md-4
                a(href='/logout') выход
        div.row
            div.col-md-12
                div
                table
                    //- thead
                    //- tr: th Posts
                    //- tbody
                    each record, i in records
                        tr
                            td #{record.question}
                            td #{record.solution}
                            td 
                                form(id='#{i+1}')
                                    each q in rating
                                        if q == record.evaluation 
                                            input(type='radio', name='#{i+1}', value='#{q}', checked='checked')
                                        else
                                            input(type='radio', name='#{i+1}', value='#{q}')